.digit {
  /* background-color: red; */
  position: relative;
  margin-top: 3px;
  margin-right: 5px;
  float: right;
  width: 18px;
  height: 35px;

}

.digit .a {
  position: absolute;
  left: 1px;
  height: 0;
  width: 10px;
  border-top: 3px solid black;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}
.digit .b {
  position: absolute;
  left: 15px;
  top: 1px;
  height: 10px;
  width: 0;
  border-right: 3px solid black;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
.digit .c {
  position: absolute;
  left: 15px;
  top: 18px;
  height: 10px;
  width: 0;
  border-right: 3px solid black;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
.digit .d {
  position: absolute;
  top: 32px;
  left: 1px;
  height: 0;
  width: 10px;
  border-bottom: 3px solid black;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}
.digit .e {
  position: absolute;
  left: 0;
  top: 18px;
  height: 10px;
  width: 0;
  border-left: 3px solid black;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
.digit .f {
  position: absolute;
  left: 0;
  top: 1px;
  height: 10px;
  width: 0;
  border-left: 3px solid black;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.digit .g {
  position: absolute;
  top: 16px;
  left: 1px;
}

.digit .g .bottom {
  height: 0;
  width: 13px;
  border-top: 1px solid black;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.digit .g .top {
  height: 0;
  width: 13px;
  border-bottom: 1px solid black;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
